{% extends "base.html" %}

{% block title %}
    <title>Quiz App</title>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<!-- IF AUTHENTICATION FAILED -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h6 class="messagePosition m-0 p-0">
                {{ message }}
            </h6>
        {% endfor %}
    {% endif %}
{% endwith %}

    <!-- MAIN SECTION -->
    <div class="mainDiv">
        <!---------------------------------------- LEFT SECTION ---------------------------------------->
        <div class="leftDiv">
            <div class="d-flex justify-content-start align-items-center">
                <div class="imgDiv me-2" style="background-image: url({{ url_for('static', filename=profile_image) }});"></div>
                <h4 class="ms-2">{{ present_user.first_name }} {{ present_user.last_name }}</h4>
            </div>
            <hr>
            <h5>My Lists:</h5>
            <div class="compDiv">
                <div>
                    <a id="completed" class="compAng" href="#"><i class="bi bi-check-circle"></i> Completed</a>
                    <ul class="completedList">

                        <!-- here completed lists will be generated -->
                        {% for item in completed_lists %}
                            {% if item.user_id == present_user.id %}
                                <li>
                                    <a href="{{ url_for('personal_page', personal_list_id=item.id, chosen_list_name=item.list_name ) }}">{{ item.list_name }}</a>
                                    <a href="{{ url_for('delete_list_page', list_id=item.id) }}"><i class="trashIcon bi bi-trash"></i></a>
                                    <a href="{{ url_for('progress_list_page', list_id=item.id) }}"><i class="bi bi-journal-code fw-bold runIcon"></i></a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
                <div>
                    <a id="not_completed" class="compAng" href="#"><i class="bi bi-hypnotize"></i> In-Progress</a>
                    <ul class="progressList">

                        <!-- here not completed - in_progress lists will be generated -->
                        {% for item in progress_lists %}
                            {% if item.user_id == present_user.id %}
                                <li class="">
                                    <a href="{{ url_for('personal_page', personal_list_id=item.id, chosen_list_name=item.list_name ) }}">{{ item.list_name }}</a>
                                    <a href="{{ url_for('delete_list_page', list_id=item.id) }}"><i class="trashIcon bi bi-trash"></i></a>
                                    <a href="{{ url_for('complete_list_page', list_id=item.id) }}"><i class="checkIcon bi bi-check-circle-fill"></i></a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <hr>
            <div class="listFormDiv">
                <form method="post" class="d-flex justify-content-center align-items-center">
                    <button type="submit"><i class="bi bi-plus-lg"></i></button>
                    <input type="text" id="my_list" name="my_list" placeholder="Add New List" required>
                    <input type="hidden" id="hidden_list" name="hidden_list" value="hidden_list">
                </form>
            </div>

        </div>

        <!---------------------------------------- RIGHT SECTION ---------------------------------------->
        <div class="rightDiv">
            {% if chosen_list_name %}
                <h2 class="fw-bold text-center headName">{{ chosen_list_name }}</h2>
            {% else %}
                <h2 class="fw-bold text-center headName">List Name</h2>
            {% endif %}
            <hr>
            <div class="contentDiv">
                <!-- This will be autogenerated -->
                {% if personal_tasks %}

                    {% for item in personal_tasks %}
                        <div class="taskItem d-flex justify-content-start align-items-center">
                            <i class="bi bi-star-fill starIcon me-3"></i>
                            <a href="{{ url_for('action_page', task_id=item.id ) }}">
                                <h5 class="ms-2">{{ item.task_name }}</h5>
                            </a>
                        </div>
                    {% endfor %}

                {% endif %}
                
            </div>
            <hr>
            <div class="taskFormDiv">
                <form method="post" class="d-flex justify-content-center align-items-center">
                    <button type="submit"><i class="bi bi-plus-lg"></i></button>
                    <input type="text" id="my_task" name="my_task" placeholder="Add New Task" required>
                    <input type="hidden" id="hidden_task" name="hidden_task" value="hidden_task">
                    {% if chosen_list_name %}
                        <input type="hidden" id="hidden_list_name" name="hidden_list_name" value="{{ chosen_list_name }}">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block logic %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}