.loginDiv {
    box-sizing: border-box;
    padding: 15px;
    width: 50%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 25%;
    background-color: rgba(138, 110, 241, 0.849);
    border-radius: 10px;
    border: 2px solid rgba(49, 15, 49, 0.815);
}
.registerDiv {
    box-sizing: border-box;
    padding: 15px;
    width: 50%;
    height: 83%;
    position: relative;
    top: 3%;
    left: 25%;
    background-color: rgba(138, 110, 241, 0.849);
    border-radius: 10px;
    border: 2px solid rgba(49, 15, 49, 0.815);
}
h2, h5 {
    color: white;
}
a {
    text-decoration: none;
}
.myForm input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: rgba(167, 165, 165, 0.822);
    color: white;
}
input:focus{
    outline: none;
}
::placeholder {
    color: white;
    opacity: 1;
}
.myForm button {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(19, 19, 49, 0.877);
    background-color: rgba(61, 61, 233, 0.788);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.flashMessage {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
