{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Quiz App</title>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'advanced_to_do/css/styles.css' %}">
{% endblock %}

{% block content %}
    <!-- IF AUTHENTICATION FAILED -->
    {% if messages %}
        {% for message in messages %}
        <p class="text-center fw-bold text-warning m-0 p-0 personalError">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <!-- MAIN SECTION -->
    <div class="mainDiv">
        <!-- LEFT SECTION -->
        <div class="leftDiv">
            <div class="d-flex justify-content-start align-items-center">
                <div class="imgDiv me-2" style="background-image: url('{{ user_image }}');"></div>
                <h4 class="ms-2">{{ user.username }}</h4>
            </div>
            <hr>
            <h5>My Lists:</h5>
            <div class="compDiv">
                <div>
                    <a id="completed" class="compAng" href="#"><i class="bi bi-check-circle"></i> Completed</a>
                    <ul class="completedList">
                        <!-- this part will be auto_generated -->
                        {% for item in completed_lists %}
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'personal-page' my_list=item.list_name %}">{{ item.list_name }}</a>
                                    <div>
                                        <a href="{% url 'delete-list' list_id=item.id %}"><i class="trashIcon bi bi-trash"></i></a>
                                        <a href="{% url 'progress-list' list_id=item.id %}"><i class="bi bi-journal-richtext bookIcon ms-1"></i></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <a id="not_completed" class="compAng" href="#"><i class="bi bi-hypnotize"></i> In-Progress</a>
                    <ul class="progressList">

                        <!-- this part will be auto_generated -->
                        {% for item in progress_lists %}
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'personal-page' my_list=item.list_name %}">{{ item.list_name }}</a>
                                    <div>
                                        <a href="{% url 'delete-list' list_id=item.id %}"><i class="trashIcon bi bi-trash"></i></a> 
                                        <a href="{% url 'completed-list' list_id=item.id %}"><i class="checkIcon bi bi-check-circle-fill ms-1"></i></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="listFormDiv">
                <form method="post" action="{% url 'personal-page' %}" class="d-flex justify-content-center align-items-center">
                    {% csrf_token %}
                    <button type="submit"><i class="bi bi-plus-lg"></i></button>
                    <input type="text" id="list_name" name="list_name" placeholder="Add New List" required>
                    <input type="hidden" id="list_item" name="list_item" value="list_item">
                </form>
            </div>
        </div>

        <!-- RIGHT SECTION -->
        <div class="rightDiv">
            {% if chosen_list %}
                <h2 class="fw-bold text-center headName">{{ chosen_list }}</h2>
            {% else %}
                <h2 class="fw-bold text-center headName">List Name</h2>
            {% endif %}
            <hr>
            <div class="contentDiv">
                
                <!-- This will be autogenerated -->
                {% if chosen_list %}
                    {% for task in chosen_tasks %}
                        <div class="taskItem d-flex justify-content-start align-items-center">
                            <i class="bi bi-star-fill starIcon me-3"></i>
                            <a href="{% url 'action-page' task_id=task.id %}">
                                <h5 class="ms-2">{{ task.task_name }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </div>
            <hr>
            <div class="taskFormDiv">
                <form method="post" action="{% url 'personal-page' %}" class="d-flex justify-content-center align-items-center">
                    {% csrf_token %}
                    <button type="submit"><i class="bi bi-plus-lg"></i></button>
                    <input type="text" id="task_name" name="task_name" placeholder="Add New Task" required>
                    <input type="hidden" id="task_item" name="task_item" value="task_item">
                    <input type="hidden" id="task_parent" name="task_parent" value="{{ chosen_list }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block logic %}
    <script src="{% static 'advanced_to_do/js/app.js' %}"></script>
{% endblock  %}
