ul {
    list-style: square;
}
li {
    margin: 3px 0;
}
hr {
    border: none;
    border-bottom: 2px solid rgb(226, 224, 224);
}
a {
    color: white;
    text-decoration: none;
}
/* MAIN SECTION */
.mainDiv {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;
    border: 2px solid rgb(204, 199, 199);
}
.leftDiv {
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    height: 100%;
    background-color: rgba(172, 168, 168, 0.712);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(122, 121, 121, 0.733);
    position: relative;
}
.rightDiv {
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(125, 199, 174, 0.808);
    border-left: 1px solid rgba(122, 121, 121, 0.733);
    position: relative;
}

/* LEFT SECTION */
.imgDiv {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(194, 194, 194, 0.884);
    background-color: rgb(231, 211, 211);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.compDiv {
    margin-top: 20px;
    overflow-y: scroll;
    height: 45%;
}
.compDiv::-webkit-scrollbar {
    display: none;
}
.completedList, .progressList {
    display: none;
}
.trashIcon {
    color: red;
}
.checkIcon {
    color: green;
}
.bookIcon {
    color: blue;
}
.compAng {
    text-decoration: none;
    display: block;
    color: white;
    margin: 7px 0;
}
.listFormDiv, .taskFormDiv {
    width: 100%;
    height: auto;
    position: relative;
    top: 60px;
}
.listFormDiv button, .taskFormDiv button {
    padding: 10px 0;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(97, 95, 95, 0.76);
    color: white;
}
.listFormDiv button {
    width: 10%;
}
.taskFormDiv button {
    width: 5%;
}
.listFormDiv input, .taskFormDiv input {
    padding: 10px 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(97, 95, 95, 0.76);
    color: white;
}
.listFormDiv input {
    width: 90%;
}
.taskFormDiv input {
    width: 95%;
}
input:focus{
    outline: none;
}
::placeholder {
    color: white;
    opacity: 1;
}

/* RIGHT SECTION */
.headName {
    margin: 5px 0 43px;
}
.contentDiv {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 53.5%;
    overflow-y: scroll;
}
.contentDiv::-webkit-scrollbar {
    display: none;
}
.taskItem {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    background-color: rgba(241, 236, 236, 0.897);
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.taskItem a {
    color: black;
}
.starIcon {
    font-size: 1.5rem;
    color: gold;
}
.personalError {
    width: 60%;
    height: auto;
    position: absolute;
    top: 3%;
    left: 20%;
}